body
{
    background-image: linear-gradient(rgba(0,0,0,o.6),rgba(0,0,0,o.6),url(pic.jpeg));
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 100%;
    background-color: none;
    overflow: auto;
  }
  .navbar a {
    float: right;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    padding-left: 25px;
  }
  .navbar a:hover {
    background-color: coral;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: right;
      display: block;
    }
  }
.menu-utility-icons
{
    position: relative;
    float: right;
    padding-right: 100px;
}
#background {
    position:relative;
    margin:0 auto;
    height: 720px;
    width: 100%;
    overflow: hidden;
  }
  #background img {
    
    position: absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #background img.top:hover {
    opacity:0;
  }
.login-page
{
    display: none;
    vertical-align: middle;
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form
{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input
{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: content-box;
    font-size: 14px;
}
.normal
{
    font-family: "Roboto", serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active
{
    background: #43a047;
}
.form .message
{
    margin: 15px  0;
    color: red;
    font-size: 12px;
}
.form .message a
{
  color: #4caf50;
  text-decoration: none;
}
.form .registration-from
{
   display: none;
}
.sidebar
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.submenus
{
  top: 0;
  right: 50px;
}
.dropdown {
  float: left;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.footer
{
  display: none;
  clear: both;
  bottom: 0;
  height: 250px;
  margin-top: -100px;
  background-color: black;
  color: white;
}
.menu
{
  float: left;
  width: 33.33%;
  padding-top: 20px;
  padding-left: 50px;
}
.menu li
{
  padding: 3px;
}
.menu a:link
{
  text-decoration: none;
  color: white;
}
.menu a:hover
{
  color: darkorange;
}
.menu p , .feedback p
{
  color: darkorange;
}
.footerMenu::after
{
  content: "";
  display: table;
  clear: both;
}
.feedback
{
  padding-top: 20px;
  float: left;
  width: 33.33%;
}

 .form-control
{
  padding-top: 200px;
}
input[type=text] {
  width: 80%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;  
}
.odishaDescription p
{
  text-align: center;
  font-size: 20px;
  padding: 25px;
}
.odishaDescription img
{
 display: block;
 margin-left: auto;
 margin-right: auto; 
}
.events
{
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
  position: relative;
  text-align: center;
  font-family: 'Cambria';
  color: white;
}
.events h4
{
  padding-top: 50px;
  font-size: 30px;
}
.events h2
{
  font-size: 50px;
}
.eventssection
{
  height: 920px;
  background-image: linear-gradient(to top,#7670b2, #87a082);
}
.slidescontainer
{
  /* padding-top: 50px;
  padding-left: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto; */
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/ /*set to a negative number 1/2 of your width*/
}
.slidescontainer img
{
  position: absolute;
  animation-name: multipleimge;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  
}

@keyframes multipleimge {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.slidescontainer img:nth-of-type(1) {
  animation-delay: 6s;
}
.slidescontainer img:nth-of-type(2) {
  animation-delay: 4s;
}
.slidescontainer img:nth-of-type(3) {
  animation-delay: 2s;
}
.slidescontainer img:nth-of-type(4) {
  animation-delay: 0;
}
.content
{
  margin-top: 15em;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
.slidescontainer
{
  float: left;
  width: 33.33%;
  margin-left: 5em;
}
.contentinfo
{
  float: left;
  width: 33.33%;
  left: 0;
  margin-top: 5em;
  background-color: white;
  height: 600px;
  margin-top: -9em;
  margin-left: 3em;
}
.hr
{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}
.contentinfo p
{
  padding-top: 20px;
  text-align: center;
  font-family: 'Cambria';
  font-size: 30px;
}
.contentinfo h4
{
  text-align: center;
  color: #008dd0;
  font-size: 20px;
  font-family: 'Cambria';
}
.contentinfo img
{
  padding-left: 2px;
  left: -28px;
  top: -10px;
  height: 55px;
  width: 100px;
  background-position: top left;
  background-size: 100%;
}